.photographer_section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
    margin-top: 100px;

    article {
        @extend .center-all;
        justify-self: center;
        flex-direction: column;
        text-align: center;

        a {
            @extend .center-all;
            justify-self: center;
            flex-direction: column;
            h2 {
                color: $secondary-color-text;
                font-size: 36px;
            }
            
            img {
                margin-bottom: 2rem;
                height: 200px;
                width: 200px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .location {
            color: $primary-color;
        }

        .price {
            color: $grey;
        }
    }  
}