.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $photographer-header;
    height: 300px;
    margin: 0 150px;

    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: auto;
    }

    button {
        margin-right: 10rem;
    }
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $primary-color;
    border-radius: 5px;
    cursor: pointer;
}

.filter {
    margin: 50px 100px;
}

.gallery-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card {
        @extend .center-all;
        flex-direction: column;
        width: max(30%,350px);
        aspect-ratio: 1 / 1;
        margin-top: 2rem;

        img,video {
            width: 350px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
    }

    .gallery-info {
        display: flex;
        justify-content: space-between;
        width: 350px;
        margin: 1rem 0;
    }
}



.sticky {
    position: fixed;
    bottom: 0;
    right: 2rem;
    width: 200px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    background: $secondary-color-bg;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
