/* Mixins */

// Utility Classes

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    filter: brightness(0) invert(1);
}

.horizontal-reverse {
    transform: rotate(180deg);
}

.block {
    display: block;
}